body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;



}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}


#username {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#password {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.submitinfo {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
